body {
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    min-width: 1000px;
    color: #000;
    background-color: #DBDCDC;
    font-family: arial,helvetica,"Liberation Sans",sans-serif;
    font-size: 12px;
}

#form_Content {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: #FFF none repeat scroll 0% 0%;
    width: 980px;
    margin: 0px auto;
    border: 1px solid;
    border-color: #BDBEBE;
}

a {
    color: #014C93;
    text-decoration: none;
}

.hr {
    background-color: #DBDCDC;
}

.row {
    width: 960px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

    .row::before, .row::after {
        content: ' ';
        display: table;
    }

    .row::after {
        clear: both;
    }

    .row.expanded {
        max-width: none;
    }

.column, .columns {
    width: 98%;
    float: left;
}

    .column.row, .row.columns {
        float: none;
    }

.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.66667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333%;
}

.col-5 {
    width: 41.66667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333%;
}

.col-8 {
    width: 66.66667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333%;
}

.col-11 {
    width: 91.66667%;
}

.col-12 {
    width: 100%;
}


.highlight {
    margin: 0 0 1rem 0;
    padding: 1rem;
    border-color: rgba(10, 10, 10, 0.25);
    border-width: 2px 1px 2px 0px;
    border-style: solid;
    position: relative;
    height: 209px;
}

    .highlight.last {
        border-right-width: 0px;
    }

    .highlight p {
        font-family: "Roboto Condensed",arial,helvetica,"Liberation Sans",sans-serif;
        margin: 0px;
        font-size: 16px;
    }

    .highlight a {
        font-family: arial,helvetica,"Liberation Sans",sans-serif;
        font-size: 12px;
    }

        .highlight a h2 {
            font-family: "Roboto Condensed",arial,helvetica,"Liberation Sans",sans-serif;
            font-weight: 400;
            font-size: 18px;
            margin: 0px;
            color: inherit;
        }

        .highlight a:hover {
            color: #B9133C;
            text-decoration: underline;
        }

.overlay {
    display: block;
    position: relative;
    width: 100%;
    height: 24px;
    bottom: 25px;
    background: #FFF none repeat scroll 0% 0%;
    opacity: 0.9;
    pointer-events: none;
}

    .overlay a {
        position: relative;
        top: 3px;
        pointer-events: all;
        padding: 5px 10px;
        cursor: pointer;
    }

.callout {
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 0;
    position: relative;
    background-color: white;
}

    .callout > :first-child {
        margin-top: 0;
    }

    .callout > :last-child {
        margin-bottom: 0;
    }

    .callout.small {
        padding: 0.5rem;
    }

    .callout.large {
        padding: 1rem;
    }

.padded {
    margin: 0 0 1rem 0;
    padding: 1rem;
    position: relative;
}

    .padded > :first-child {
        margin-top: 0;
    }

    .padded > :last-child {
        margin-bottom: 0;
    }

    .padded.small {
        padding: 0.5rem;
    }

    .padded.large {
        padding: 3rem;
    }

.seperatedList {
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
}

    .seperatedList li {
        display: inline;
    }

.logotext {
    position: absolute;
    top: 0px;
    left: -6px;
    width: 156px;
    height: 44px;
    margin: 0px;
    text-indent: -999px;
    overflow: hidden;
    z-index: 1;
}

#top {
    background-color: #313232;
}

#menubar {
    background: #A61E39 repeat scroll 0% 0%;
    z-index: 110;
    border-bottom: 1px solid #313232;
    box-shadow: 0px -1px 0px #B03941 inset;
    height: 44px;
    position: fixed;
    width: 100%;
}

    #menubar #menu {
        width: 960px;
        margin: auto;
        position: relative;
        left: 0px;
    }


#navbar {
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
    height: 44px;
    width: 800px;
    margin-left: 150px;
    position: relative;
    z-index: 95;
    line-height: 44px;
}

    #navbar li {
        height: 44px;
        float: left;
        padding-left: 1px;
    }

        #navbar li.floatright {
            float: right;
        }

        #navbar li a {
            display: block;
            height: 44px;
            padding: 0px 10px;
            color: #E0E2E2;
            font-size: 15px;
            font-family: "Roboto Condensed",arial,helvetica,"Liberation Sans",sans-serif;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
            text-decoration: none;
            cursor: pointer;
        }



            #navbar li a:hover {
                background: #852c3e;
            }

#logo {
    position: absolute;
    top: 0px;
    left: -6px;
    z-index: 200;
    height: 44px;
}

    #logo:hover {
        background: #852c3e;
    }

    #logo a {
        display: block;
        width: 156px;
        height: 44px;
        background: transparent url("http://tweakimg.net/g/if/v3/framework/tweakers_logo_v2_x1.png") no-repeat scroll 50% center;
    }

#menupadder {
    z-index: 100;
    margin: 0px auto;
    height: 3rem;
    min-width: 980px;
}

#menubottombar {
    height: 1rem;
    line-height: 1.7;
    overflow: hidden;
}

.bigpad {
    margin-left: 23rem;
}

#bottom {
    width: 100%;
    bottom: 0px;
    position: relative;
    background: #313232 none repeat scroll 0% 0%;
    margin-top: 20px;
}


#about {
    color: #C3C6C6;
    height: 200px;
    padding-top: 22px;
    position: relative;
    text-align: center;
    width: 960px;
    margin: auto;
}

    #about a {
        color: #DBDCDC;
        ;
    }

        #about a:hover {
            color: #B9133C;
            text-decoration: underline;
        }

.seperatedList li {
    padding-right: 20px;
}

#greybar {
    height: 55px;
    background: #DBDCDC repeat scroll 0% 0%;
    border-radius: 6px 6px 0px 0px;
}

table.newstable {
    border-top: 1px solid #E8EAEA;
    margin-bottom: 14px;
    width: 100%;
    table-layout: fixed;
}

    table.newstable td {
        line-height: 15px;
        border-bottom: 1px solid #E8EAEA;
        padding: 7px 0px;
        font-size: 13px;
    }

    table.newstable .category {
        padding-top: 6px;
        width: 25px;
        text-align: center;
    }

    table.newstable .timeplaced {
        width: 36px;
        text-align: center;
        color: #828585;
    }

    table.newstable .headline {
        padding-left: 6px;
    }

    table.newstable .comments {
        color: #828585;
        width: 42px;
        text-align: right;
    }

table a:hover {
    text-decoration: underline;
    color: #B9133C;
}

.commentcounter {
    width: 37px;
    height: 19px;
    background: transparent url("http://tweakimg.net/g/icons/reacties.png") no-repeat scroll 0% 0%;
    color: #FFF !important;
    display: inline-block;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    text-decoration: none !important;
}

.categoryicon {
    width: 13px;
    height: 11px;
    background: transparent url("http://tweakimg.net/g/bullets/fp-channelicons-v2.png") no-repeat scroll 0% 0%;
    background-position: 0px -12px;
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 5px;
    display: block;
}

h1, h2, h3, p {
    margin: 0px 0px 15px;
}

h1, h2, h3 {
    color: #B9133C;
}

h1 {
    line-height: 33px;
    font-size: 27px;
    font-family: "Roboto Condensed",arial,helvetica,"Liberation Sans",sans-serif;
    font-weight: 400;
}

.titleLink h1 {
    color: #B9133C;
    margin-top: 20px;
}

    .titleLink h1:hover {
        text-decoration: underline;
    }

.article {
    width: 620px;
    font-size: 13px;
}

    .article p {
        margin: 0px 0px 15px;
        font-size: 13px;
        line-height: 1.6;
    }

.newsarea {
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-bottom: 1px solid #E8EAEA;
}

    .newsarea a {
        text-decoration: underline;
    }

        .newsarea a.titleLink {
            text-decoration: none;
        }

        .newsarea a:hover {
            color: #B9133C;
            text-decoration: underline;
        }

h1.notfound {
    color: #B9133C;
}

iframe {
    overflow: hidden;
}

.loginarea {
    margin: 15px 15px;
    font-size: 13px;
    line-height: 1.6;
}

    .loginarea input {
        padding: 4px 10px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05) inset;
        border: 1px solid #C3C6C6;
        border-radius: 1px;
        font-size: 16px;
        width: 300px;
        font-family: arial,helvetica,"Liberation Sans",sans-serif;
    }

    .loginarea table {
        margin: 20px 0px 20px 20px;
        font-weight: 600;
    }

#submit {
    margin: 20px 0px 0px 20px;
    padding: 30px 0px 0px 200px;
    border-top: 1px solid #E8EAEA;
}

    #submit a:hover {
        color: #B9133C;
        text-decoration: underline;
    }

    #submit input {
        margin-top: 20px;
        padding: 4px 10px;
        background-color: #0a92c8;
        color: white;
        border: none;
        width: 150px;
    }

        #submit input:hover {
            background-color: #22a2d4;
            cursor: pointer;
        }

.hidden {
    display: none !important;
}

.errormessage {
    color: #852c3e;
    font-weight: 600;
}

p.smalldate {
    color: #616464;
    font-size: 12px;
}

.smalldate a {
    color: #616464;
    text-decoration: none;
}

a.newscommentlink {
    text-decoration: none;
}

h2 small {
    font-size: 13px;
}

.comments {
    margin-left: 20px;
}

.comment {
    border: 1px solid #DDDEDE;
    padding: 10px 15px 8px;
    margin-bottom: 10px;
    position: relative;
}

.newcomment {
    margin-left: 20px;
}

textarea {
    border: 1px solid #C3C6C6;
    border-radius: 1px;
    font-size: 12px;
    font-family: arial,helvetica,"Liberation Sans",sans-serif;
    padding: 2px 3px;
    min-height: 234px;
    min-width: 234px;
    border: 1px solid #DDDEDE;
    margin-bottom: 5px;
    line-height: 1.6;
}

.acceptbutton {
    height: 26px;
    padding: 0px 10px;
    font-size: 12px;
    color: #FFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #0987B8;
    border-radius: 1px;
    cursor: pointer;
    background: #0A93CA linear-gradient(#0A93CA, #0A8ABD) repeat scroll 0% 0%;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

    .acceptbutton:hover {
        color: #FFF;
        border-color: #0B94BF;
        background: #0CA3D4 linear-gradient(#0CA3D4, #0B98C5) repeat scroll 0% 0%;
    }

.reviewlisting p {
    color: #828585;
    line-height: 21px;
    margin: 0px 0px 6px;
}

.reviewlisting a {
    font-size: 14px;
    font-weight: 400;
}

.reviewarea table {
    border-top: 1px solid #E8EAEA;
    width: 100%;
    margin-bottom: 10px;
}

.reviewarea td {
    padding: 10px 10px 0px 10px;
    vertical-align: top;
    border-bottom: 1px solid #E8EAEA;
}

.reviewarea .comments {
    color: #828585;
    width: 42px;
    text-align: right;
}

.reviewnavigation {
    width: 310px;
    list-style: outside none none;
    padding: 0px;
    margin: 0px 0px 15px;
}

    .reviewnavigation li {
        padding: 3px 0px;
    }

        .reviewnavigation li a {
            color: #000;
            text-decoration: none;
        }

        .reviewnavigation li.activepage {
            font-weight: 700;
        }

.nextpagelink {
    border: 1px solid #E8EAEA;
    line-height: 1.4;
    margin: 20px 0px;
    width: auto;
    height: 48px;
}

    .nextpagelink:hover {
        border: 1px solid #DCDEDE;
        background-color: #F1F3F3;
        text-decoration: none;
    }

    .nextpagelink a {
        display: block;
        padding: 5px 10px;
        color: #014C93;
        text-decoration: none;
    }

        .nextpagelink a:hover {
            color: #014C93;
            text-decoration: none;
        }

    .nextpagelink .label {
        display: block;
        color: #000;
        font-weight: 700;
    }
